Repository jwallace145/walter-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, terraform-fmt, flake8

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: local
    hooks:
      - id: black # formatter
        name: black
        description: "Black: The uncompromising code formatter for Python"
        entry: pipenv run black . --diff --color
        language: python
        types: [ python ]

      - id: isort
        name: isort
        description: "isort: Ensures imports are sorted properly"
        entry: pipenv run isort --check-only --diff --profile black
        language: python
        types: [ python ]

      - id: terraform-fmt
        name: terraform-fmt
        description: "Terraform fmt: Formats terraform files"
        entry: terraform fmt -check -recursive
        language: system
        files: \.tf$
  
      - id: codespell # devs cant spell
        name: codespell
        description: "Codespell: Checks codebase for misspellings since developers cannot spell"
        entry: pipenv run codespell
        language: python
        types: [ text ]

      - id: flake8 # linter
        name: flake8
        description: "Flake8: Your tool for style guide enforcement"
        entry: pipenv run flake8 --count --max-complexity=10 --max-line-length=127 --show-source --statistics --ignore=E203,E501,W503,C901,W291
        language: python
        types: [ python ]

      - id: pytest # unit tests
        name: pytest
        description: "Pytest: Helps you write less buggy code"
        entry: pipenv run coverage run -m pytest -vv
        language: python
        types: [ python ]
        pass_filenames: false
        always_run: true

      - id: coverage # test coverage
        name: coverage
        description: "Coverage: A tool for measuring code coverage of Python programs"
        entry: pipenv run coverage report -m
        language: python
        types: [ python ]
        pass_filenames: false
        always_run: true

fix: add user id to get transactions api response
  src/api/transactions/get_transactions/method.py
Due: black, isort, flake8

feat: disable provisioned concurrency for functions
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/variables.tf
Due: terraform-fmt

feat: disable provisioned concurrency for functions (#413)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/variables.tf
  src/api/transactions/get_transactions/method.py
Due: black, isort, terraform-fmt, flake8

feat: implement git tagging
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
Due: black, isort, terraform-fmt, flake8

feat: set function versions as terraform vars programmatically
  infra/environments/dev/terraform.tfvars
  infra/scripts/deploy.sh
Due: none

feat: implement git tagging (#414)
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/scripts/deploy.sh
Due: black, isort, terraform-fmt, flake8

docs: add issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_fix.md
  .github/ISSUE_TEMPLATE/chore_refactor.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/deploy.yml
Due: none

docs: add issue and pull request templates (#415)
  .github/ISSUE_TEMPLATE/bug_fix.md
  .github/ISSUE_TEMPLATE/chore_refactor.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/deploy.yml
Due: none

fix: update git tagging logic in deploy script
  deploy.py
Due: black, isort, flake8

fix: update git tags logic
  .github/workflows/deploy.yml
  deploy.py
Due: black, isort, flake8

feat: add api role terraform module
  infra/infrastructure/api.tf
  infra/infrastructure/api_roles.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/modules/api_iam_roles/main.tf
  infra/infrastructure/modules/api_iam_roles/variables.tf
Due: terraform-fmt

feat: add client factory
  Pipfile
  Pipfile.lock
  cli.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/api_roles.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/modules/api_iam_roles/main.tf
  infra/infrastructure/modules/api_iam_roles/outputs.tf
  infra/infrastructure/modules/api_iam_roles/variables.tf
  infra/infrastructure/variables.tf
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/factory.py
  src/api/methods.py
  src/api/router.py
  src/api/routing/router.py
  src/aws/dynamodb/client.py
  src/aws/sts/__init__.py
  src/aws/sts/client.py
  src/clients.py
  src/environment.py
  src/factory.py
  src/workflows/common/router.py
  src/workflows/router.py
  tst/conftest.py
  tst/workflows/test_workflow_router.py
Due: black, isort, terraform-fmt, flake8

feat: update workflow router to use client factory
  cli.py
  walter.py
Due: black, isort, flake8

feat: add api method factory to unit tests
  src/api/factory.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/plaid/test_create_link_token.py
  tst/api/plaid/test_exchange_public_token.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
  tst/conftest.py
Due: black, isort, flake8

fix: add client factory to canary router
  src/canaries/routing/router.py
Due: black, isort, flake8

feat: add canary router unit test
  tst/canary/__init__.py
  tst/canary/test_canary_router.py
  tst/conftest.py
Due: black, isort, flake8

fix: add client factory to canary router (#419)
  src/canaries/routing/router.py
  tst/canary/__init__.py
  tst/canary/test_canary_router.py
  tst/conftest.py
Due: black, isort, flake8

fix: fix failing canaries
  cli.py
  src/canaries/router.py
  walter.py
Due: black, isort, flake8

fix: fix failing canaries (#420)
  cli.py
  src/canaries/router.py
  walter.py
Due: black, isort, flake8

feat: add separate workflow roles
  cli.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/canaries.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/outputs.tf
  infra/infrastructure/modules/workflow_iam_role/main.tf
  infra/infrastructure/modules/workflow_iam_role/outputs.tf
  infra/infrastructure/modules/workflow_iam_role/variables.tf
  infra/infrastructure/variables.tf
  infra/infrastructure/workflows.tf
  src/api/factory.py
  src/api/router.py
  src/api/routing/router.py
  src/aws/sts/client.py
  src/canaries/router.py
  src/canaries/routing/router.py
  src/factory.py
  src/workflows/common/router.py
  src/workflows/factory.py
  src/workflows/router.py
  walter.py
Due: black, isort, terraform-fmt, flake8

feat: add request id to api assume role session names
  src/api/factory.py
  src/api/routing/router.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/plaid/test_create_link_token.py
  tst/api/plaid/test_exchange_public_token.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
  tst/api/utils.py
Due: black, isort, flake8

feat: disable datadog tracing support for functions
  infra/infrastructure/canaries.tf
  infra/infrastructure/modules/lamdba_function/main.tf
Due: terraform-fmt

feat: add kms key policies to function base roles
  infra/infrastructure/api.tf
  infra/infrastructure/workflows.tf
Due: terraform-fmt

feat: add workflow factory unit tests
  tst/conftest.py
  tst/workflows/test_workflow_factory.py
Due: black, isort, flake8

feat: update logout api response
  src/api/auth/logout/method.py
  src/factory.py
Due: black, isort, flake8

feat: set cookies in login api response
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/login/models.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/create_user.py
  src/canaries/users/get_user.py
  tst/api/auth/test_login.py
Due: black, isort, flake8

fix: add multivalue headers to api response object for cookies
  infra/scripts/deploy.sh
  src/api/auth/refresh/method.py
  src/api/auth/refresh/models.py
  src/api/common/models.py
  src/api/transactions/get_transactions/method.py
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/create_user.py
  src/canaries/users/get_user.py
  tst/api/auth/test_refresh.py
Due: black, isort, flake8

feat: add api response cookies unit test
  tst/api/test_api_response.py
Due: black, isort, flake8

feat: login canary unit tests
  tst/canary/test_login_canary.py
Due: black, isort, flake8

refactor: remove unused base canary methods
  src/canaries/common/canary.py
Due: black, isort, flake8

feat: unset auth cookies on logout
  src/api/auth/logout/method.py
  src/api/common/methods.py
  src/api/common/models.py
Due: black, isort, flake8

fix: update formatting
  src/api/auth/logout/method.py
Due: black, isort, flake8

feat: set cookies securely on auth apis (#422)
  infra/scripts/deploy.sh
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/login/models.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/auth/refresh/models.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/create_user.py
  src/canaries/users/get_user.py
  src/factory.py
  tst/api/auth/test_login.py
  tst/api/auth/test_refresh.py
  tst/api/test_api_response.py
  tst/canary/test_login_canary.py
Due: black, isort, flake8

feat: add ttl to unexpired sessions
  src/database/sessions/models.py
Due: black, isort, flake8

feat: add ttl to unexpired sessions (#424)
  src/database/sessions/models.py
Due: black, isort, flake8

feat: add vpc network
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/iam_lambda_execution_role/main.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/modules/vpc_network/main.tf
  infra/infrastructure/modules/vpc_network/outputs.tf
  infra/infrastructure/modules/vpc_network/variables.tf
  infra/infrastructure/network.tf
  infra/infrastructure/variables.tf
Due: terraform-fmt
