Repository jwallace145/walter-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, terraform-fmt, flake8

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: local
    hooks:
      - id: black # formatter
        name: black
        description: "Black: The uncompromising code formatter for Python"
        entry: pipenv run black . --diff --color
        language: python
        types: [ python ]

      - id: isort
        name: isort
        description: "isort: Ensures imports are sorted properly"
        entry: pipenv run isort --check-only --diff --profile black
        language: python
        types: [ python ]

      - id: terraform-fmt
        name: terraform-fmt
        description: "Terraform fmt: Formats terraform files"
        entry: terraform fmt -check -recursive
        language: system
        files: \.tf$
  
      - id: codespell # devs cant spell
        name: codespell
        description: "Codespell: Checks codebase for misspellings since developers cannot spell"
        entry: pipenv run codespell
        language: python
        types: [ text ]

      - id: flake8 # linter
        name: flake8
        description: "Flake8: Your tool for style guide enforcement"
        entry: pipenv run flake8 --count --max-complexity=10 --max-line-length=127 --show-source --statistics --ignore=E203,E501,W503,C901,W291
        language: python
        types: [ python ]

      - id: pytest # unit tests
        name: pytest
        description: "Pytest: Helps you write less buggy code"
        entry: pipenv run coverage run -m pytest -vv
        language: python
        types: [ python ]
        pass_filenames: false
        always_run: true

      - id: coverage # test coverage
        name: coverage
        description: "Coverage: A tool for measuring code coverage of Python programs"
        entry: pipenv run coverage report -m
        language: python
        types: [ python ]
        pass_filenames: false
        always_run: true

feat: add vpc network (#425)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/iam_lambda_execution_role/main.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/modules/vpc_network/main.tf
  infra/infrastructure/modules/vpc_network/outputs.tf
  infra/infrastructure/modules/vpc_network/variables.tf
  infra/infrastructure/network.tf
  infra/infrastructure/variables.tf
Due: terraform-fmt

feat: add dynamodb and secrets manager vpc endpoints
  infra/infrastructure/modules/vpc_network/main.tf
  infra/infrastructure/modules/vpc_network/variables.tf
  infra/infrastructure/network.tf
Due: terraform-fmt

feat: add dynamodb and secrets manager vpc endpoints (#426)
  infra/infrastructure/modules/vpc_network/main.tf
  infra/infrastructure/modules/vpc_network/variables.tf
  infra/infrastructure/network.tf
Due: terraform-fmt

feat: add dynamodb and secrets manager vpc endpoints (#426)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/vpc_network/main.tf
  infra/infrastructure/modules/vpc_network/variables.tf
  infra/infrastructure/network.tf
  src/aws/secretsmanager/client.py
Due: black, isort, terraform-fmt, flake8

fix: update deploy ci script to get latest function version
  deploy.py
Due: black, isort, flake8

feat: add same site strict requirements to auth cookies
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/vpc_network/main.tf
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/common/response.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  src/aws/secretsmanager/client.py
  tst/api/plaid/test_create_link_token.py
  tst/api/plaid/test_exchange_public_token.py
  tst/api/test_api_response.py
  tst/api/utils.py
Due: black, isort, terraform-fmt, flake8

fix: remove duplicate vpc endpoints
  infra/infrastructure/modules/vpc_network/main.tf
Due: terraform-fmt

fix: allow function sg network access to secrets manager vpc endpoint (#428)
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/vpc_network/main.tf
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/common/response.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  src/aws/secretsmanager/client.py
  tst/api/plaid/test_create_link_token.py
  tst/api/plaid/test_exchange_public_token.py
  tst/api/test_api_response.py
  tst/api/utils.py
Due: black, isort, terraform-fmt, flake8

Update README.md
  README.md
Due: none

Update README.md (#429)
  README.md
Due: none

Update README.md (#430)
  README.md
Due: none

feat: separate dynamodb access by read, write, and delete items permissions
  infra/infrastructure/api.tf
  infra/infrastructure/canaries.tf
  infra/infrastructure/modules/api_iam_roles/main.tf
  infra/infrastructure/modules/api_iam_roles/variables.tf
  infra/infrastructure/modules/iam_dynamodb_access_policy/main.tf
  infra/infrastructure/modules/iam_dynamodb_access_policy/variables.tf
  infra/infrastructure/modules/workflow_iam_role/main.tf
  infra/infrastructure/modules/workflow_iam_role/variables.tf
  infra/infrastructure/workflows.tf
  src/canaries/common/canary.py
  src/canaries/common/models.py
Due: black, isort, terraform-fmt, flake8

fix: add ddb write permissions to accounts table for get accounts api
  infra/infrastructure/api.tf
Due: terraform-fmt

feat: add queue access to apis and workflows
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_iam_roles/main.tf
  infra/infrastructure/modules/api_iam_roles/variables.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/main.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
  infra/infrastructure/modules/workflow_iam_role/main.tf
  infra/infrastructure/modules/workflow_iam_role/variables.tf
  infra/infrastructure/workflows.tf
Due: terraform-fmt

feat: all lambda iam roles use vpc basic execution role
  infra/infrastructure/modules/api_iam_roles/main.tf
  infra/infrastructure/modules/workflow_iam_role/main.tf
Due: terraform-fmt

feat: separate db access by read, write, delete permissions (#431)
  infra/infrastructure/api.tf
  infra/infrastructure/canaries.tf
  infra/infrastructure/modules/api_iam_roles/main.tf
  infra/infrastructure/modules/api_iam_roles/variables.tf
  infra/infrastructure/modules/iam_dynamodb_access_policy/main.tf
  infra/infrastructure/modules/iam_dynamodb_access_policy/variables.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/main.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
  infra/infrastructure/modules/workflow_iam_role/main.tf
  infra/infrastructure/modules/workflow_iam_role/variables.tf
  infra/infrastructure/workflows.tf
  src/canaries/common/canary.py
  src/canaries/common/models.py
Due: black, isort, terraform-fmt, flake8

fix: grant delete users permissions to create user canary
  infra/infrastructure/canaries.tf
Due: terraform-fmt

feat: separate canary iam roles
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/canaries.tf
  infra/infrastructure/modules/canary_iam_roles/main.tf
  infra/infrastructure/modules/canary_iam_roles/outputs.tf
  infra/infrastructure/modules/canary_iam_roles/variables.tf
  infra/infrastructure/variables.tf
  src/canaries/factory.py
  src/canaries/routing/router.py
Due: black, isort, terraform-fmt, flake8

feat: add base function role terraform module
  infra/infrastructure/api.tf
  infra/infrastructure/canaries.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/base_function_role/main.tf
  infra/infrastructure/modules/base_function_role/outputs.tf
  infra/infrastructure/modules/base_function_role/variables.tf
  infra/infrastructure/modules/kms_key/main.tf
  infra/infrastructure/modules/kms_key/outputs.tf
  infra/infrastructure/modules/kms_key/variables.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/outputs.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/workflows.tf
Due: terraform-fmt

feat: separate canary roles (#432)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/canaries.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/base_function_role/main.tf
  infra/infrastructure/modules/base_function_role/outputs.tf
  infra/infrastructure/modules/base_function_role/variables.tf
  infra/infrastructure/modules/canary_iam_roles/main.tf
  infra/infrastructure/modules/canary_iam_roles/outputs.tf
  infra/infrastructure/modules/canary_iam_roles/variables.tf
  infra/infrastructure/modules/kms_key/main.tf
  infra/infrastructure/modules/kms_key/outputs.tf
  infra/infrastructure/modules/kms_key/variables.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/outputs.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
  infra/infrastructure/workflows.tf
  src/canaries/factory.py
  src/canaries/routing/router.py
Due: black, isort, terraform-fmt, flake8

feat: add db write access to accounts table for exchange public token api
  infra/infrastructure/api.tf
Due: terraform-fmt

feat: add request id to workflow invocations
  infra/infrastructure/modules/base_function_role/main.tf
  infra/infrastructure/modules/base_function_role/variables.tf
  infra/infrastructure/workflows.tf
  src/workflows/common/router.py
  src/workflows/factory.py
  tst/workflows/test_workflow_factory.py
  tst/workflows/test_workflow_router.py
Due: black, isort, terraform-fmt, flake8

feat: update plaid transaction converter to support sync transactions workflow
  infra/environments/dev/terraform.tfvars
  src/plaid/models.py
  src/plaid/transaction_converter.py
Due: black, isort, flake8

feat: add transaction categorizer to plaid transaction converter
  src/factory.py
  src/plaid/client.py
  src/plaid/transaction_converter.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, flake8

feat: update transaction converter to support transaction subtype
  src/plaid/transaction_converter.py
Due: black, isort, flake8

feat: update exchange public token response to include sync transactions task ids
  src/api/plaid/exchange_public_token/method.py
  src/database/client.py
Due: black, isort, flake8

fix: fix exchange public token api response
  src/api/plaid/exchange_public_token/method.py
Due: black, isort, flake8

feat: add support for plaid account linking and initial transactions sync (#433)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/modules/base_function_role/main.tf
  infra/infrastructure/modules/base_function_role/variables.tf
  infra/infrastructure/workflows.tf
  src/api/plaid/exchange_public_token/method.py
  src/database/client.py
  src/factory.py
  src/plaid/client.py
  src/plaid/models.py
  src/plaid/transaction_converter.py
  src/workflows/common/router.py
  src/workflows/factory.py
  tst/plaid/test_transaction_converter.py
  tst/workflows/test_workflow_factory.py
  tst/workflows/test_workflow_router.py
Due: black, isort, terraform-fmt, flake8

feat: save new plaid cursor after sync transactions
  src/api/plaid/exchange_public_token/method.py
  src/database/accounts/models.py
  src/database/accounts/table.py
  src/database/client.py
  src/workflows/sync_user_transactions.py
  tst/workflows/test_sync_user_transactions.py
Due: black, isort, flake8

feat: add transfer out plaid transaction category
  infra/environments/dev/terraform.tfvars
  src/plaid/models.py
  src/plaid/transaction_converter.py
Due: black, isort, flake8

fix: fix plaid last sync at field after sync transactions
  src/workflows/sync_user_transactions.py
Due: black, isort, flake8

feat: update sync transactions api permissions
  infra/infrastructure/api.tf
  src/workflows/sync_user_transactions.py
Due: black, isort, terraform-fmt, flake8

feat: updated sync transactions api response to include task id and synced accounts
  infra/infrastructure/api.tf
  src/api/plaid/sync_transactions.py
Due: black, isort, terraform-fmt, flake8

feat: update sync transactions api (#434)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/sync_transactions.py
  src/database/accounts/models.py
  src/database/accounts/table.py
  src/database/client.py
  src/plaid/models.py
  src/plaid/transaction_converter.py
  src/workflows/sync_user_transactions.py
  tst/workflows/test_sync_user_transactions.py
Due: black, isort, terraform-fmt, flake8

feat: update get accounts api response to include linked with plaid status
  src/api/accounts/get_accounts/models.py
  src/database/accounts/models.py
  src/plaid/client.py
Due: black, isort, flake8

feat: add is plaid transaction flag to transactions
  src/api/transactions/get_transactions/method.py
  src/database/transactions/models.py
  src/workflows/sync_user_transactions.py
Due: black, isort, flake8

feat: handle syncing updated and deleted transactions
  infra/infrastructure/db.tf
  src/plaid/client.py
  src/plaid/transaction_converter.py
  src/workflows/sync_user_transactions.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, terraform-fmt, flake8

fix: initialize plaid transactions cache in converter
  deploy.py
  src/plaid/transaction_converter.py
Due: black, isort, flake8

fix: fix nullable merchant name errors for plaid transaction converter
  src/plaid/transaction_converter.py
Due: black, isort, flake8
