Repository jwallace145/walter-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, terraform-fmt, flake8

black:
  name: black
  description: 'Black: The uncompromising code formatter for Python'
  entry: pipenv run black . --diff --color
  language: python

isort:
  name: isort
  description: 'isort: Ensures imports are sorted properly'
  entry: pipenv run isort --check-only --diff --profile black
  language: python

terraform-fmt:
  name: terraform-fmt
  description: 'Terraform fmt: Formats terraform files'
  entry: terraform fmt -check -recursive
  language: system

flake8:
  name: flake8
  description: 'Flake8: Your tool for style guide enforcement'
  entry: pipenv run flake8 --count --max-complexity=10 --max-line-length=127 --show-source --statistics --ignore=E203,E501,W503,C901,W291
  language: python

fix: update infra action hook
  .github/workflows/infra.yml
Due: none

fix: remove comment from infra action
  .github/workflows/infra.yml
Due: none

toil: change name for infra action
  .github/workflows/infra.yml
Due: none

feat: migrate infra to terraform (#372)
  .github/workflows/infra.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  infra/infra.yml.j2
  src/canaries/common/canary.py
  src/database/client.py
  src/database/users/models.py
  src/database/users/table.py
  terraform/db.tf
  terraform/functions.tf
  terraform/locals.tf
  terraform/policies.tf
  terraform/providers.tf
  terraform/roles.tf
  terraform/variables.tf
Due: black, isort, terraform-fmt, flake8

fix: fix infra action
  .github/workflows/infra.yml
Due: none

feat: add lambda schedules
  deploy.py
  infra/functions.tf
  infra/iam.tf
  infra/modules/lambda_schedule/main.tf
  infra/modules/lambda_schedule/outputs.tf
  infra/modules/lambda_schedule/variables.tf
  infra/variables.tf
  src/api/accounts/get_accounts/method.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/get_user.py
Due: black, isort, terraform-fmt, flake8

feat: add lambda schedules (#374)
  deploy.py
  infra/functions.tf
  infra/iam.tf
  infra/modules/lambda_schedule/main.tf
  infra/modules/lambda_schedule/outputs.tf
  infra/modules/lambda_schedule/variables.tf
  infra/variables.tf
  src/api/accounts/get_accounts/method.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/get_user.py
Due: black, isort, terraform-fmt, flake8

fix: add workflow db and secrets permissions
  infra/iam.tf
  scripts/update-change-password-template-s3.sh
  scripts/update-templates.sh
  scripts/update-verify-template-s3.sh
  src/aws/ses/client.py
  src/clients.py
  src/config.py
  src/templates/__init__.py
  src/templates/bucket.py
  src/templates/engine.py
  src/templates/models.py
  templates/change_password/template.jinja
  templates/change_password/templatespec.jinja
  templates/default/template.jinja
  templates/default/templatespec.jinja
  templates/the_good_the_bad/template.jinja
  templates/the_good_the_bad/templatespec.jinja
  templates/verify/template.jinja
  templates/verify/templatespec.jinja
  tst/api/users/test_create_user.py
  tst/aws/mock.py
  tst/conftest.py
  tst/templates/__init__.py
  tst/templates/test_template_engine.py
  tst/templates/test_templates_bucket.py
Due: black, isort, terraform-fmt, flake8

fix: fix formatting
  src/aws/ses/client.py
Due: black, isort, flake8

fix: add workflow db and secrets permissions (#376)
  infra/iam.tf
  scripts/update-change-password-template-s3.sh
  scripts/update-templates.sh
  scripts/update-verify-template-s3.sh
  src/aws/ses/client.py
  src/clients.py
  src/config.py
  src/templates/__init__.py
  src/templates/bucket.py
  src/templates/engine.py
  src/templates/models.py
  templates/change_password/template.jinja
  templates/change_password/templatespec.jinja
  templates/default/template.jinja
  templates/default/templatespec.jinja
  templates/the_good_the_bad/template.jinja
  templates/the_good_the_bad/templatespec.jinja
  templates/verify/template.jinja
  templates/verify/templatespec.jinja
  tst/api/users/test_create_user.py
  tst/aws/mock.py
  tst/conftest.py
  tst/templates/__init__.py
  tst/templates/test_template_engine.py
  tst/templates/test_templates_bucket.py
Due: black, isort, terraform-fmt, flake8

feat: add metrics to update prices workflow
  cli.py
  src/aws/dynamodb/client.py
  src/investments/securities/updater.py
  src/polygon/client.py
  src/workflows/common/models.py
  src/workflows/update_security_prices.py
  src/workflows/workflows.py
  tst/workflows/test_update_security_prices.py
Due: black, isort, flake8

feat: add metrics to update prices workflow (#378)
  cli.py
  src/aws/dynamodb/client.py
  src/investments/securities/updater.py
  src/polygon/client.py
  src/workflows/common/models.py
  src/workflows/update_security_prices.py
  src/workflows/workflows.py
  tst/workflows/test_update_security_prices.py
Due: black, isort, flake8

refactor: rename clients
  src/api/methods.py
  src/api/routing/router.py
  src/clients.py
Due: black, isort, flake8

fix: fix terraform plan dev action
  .github/workflows/infra.yml
  infra/.terraform.lock.hcl
Due: none

fix: fix terraform plan dev action 2
  .github/workflows/infra.yml
Due: none

fix: fix terraform plan dev action 3
  .github/workflows/infra.yml
Due: none

fix: fix terraform plan dev action 4
  .github/workflows/infra.yml
Due: none

feat: add more endpoints to api
  cli.py
  config.yml
  deploy.py
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway_endpoint/main.tf
  infra/infrastructure/modules/api_gateway_endpoint/outputs.tf
  infra/infrastructure/modules/api_gateway_endpoint/variables.tf
  infra/infrastructure/modules/api_gateway_resource/main.tf
  infra/infrastructure/modules/api_gateway_resource/outputs.tf
  infra/infrastructure/modules/api_gateway_resource/variables.tf
  openapi.yml
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/get_user.py
  src/canaries/routing/router.py
  src/config.py
  src/workflows/workflows.py
Due: black, isort, terraform-fmt, flake8

fix: fix get accounts api investment account has no holdings
  src/api/accounts/get_accounts/models.py
  src/canaries/accounts/__init__.py
  src/canaries/accounts/get_accounts.py
  tst/api/accounts/test_get_accounts.py
  tst/database/data/accounts.jsonl
  tst/database/data/sessions.jsonl
Due: black, isort, flake8

feat: add get accounts canary
  src/canaries/accounts/get_accounts.py
  src/canaries/routing/router.py
Due: black, isort, flake8

feat: add more endpoints to api (#380)
  cli.py
  config.yml
  deploy.py
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway_endpoint/main.tf
  infra/infrastructure/modules/api_gateway_endpoint/outputs.tf
  infra/infrastructure/modules/api_gateway_endpoint/variables.tf
  infra/infrastructure/modules/api_gateway_resource/main.tf
  infra/infrastructure/modules/api_gateway_resource/outputs.tf
  infra/infrastructure/modules/api_gateway_resource/variables.tf
  openapi.yml
  src/api/accounts/get_accounts/models.py
  src/canaries/accounts/__init__.py
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/get_user.py
  src/canaries/routing/router.py
  src/config.py
  src/workflows/workflows.py
  tst/api/accounts/test_get_accounts.py
  tst/database/data/accounts.jsonl
  tst/database/data/sessions.jsonl
Due: black, isort, terraform-fmt, flake8

feat: add datadog monitor support
  deploy.py
  infra/environments/dev/.terraform.lock.hcl
  infra/infrastructure/.terraform.lock.hcl
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/main.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/outputs.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/variables.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/versions.tf
  infra/infrastructure/providers.tf
  infra/scripts/deploy.sh
Due: black, isort, terraform-fmt, flake8

feat: add datadog monitor support (#381)
  deploy.py
  infra/environments/dev/.terraform.lock.hcl
  infra/infrastructure/.terraform.lock.hcl
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/main.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/outputs.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/variables.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/versions.tf
  infra/infrastructure/providers.tf
  infra/scripts/deploy.sh
Due: black, isort, terraform-fmt, flake8

feat: add function failure monitors
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/main.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/outputs.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/variables.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/versions.tf
Due: terraform-fmt

feat: add function timeout monitors
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/main.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/outputs.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/main.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/main.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/outputs.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/variables.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/versions.tf
Due: terraform-fmt

feat: add lambda function monitors (#382)
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/main.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/outputs.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/variables.tf
  infra/infrastructure/modules/lambda_function_failure_monitor/versions.tf
  infra/infrastructure/modules/lambda_function_memory_monitor/main.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/main.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/outputs.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/variables.tf
  infra/infrastructure/modules/lambda_function_timeout_monitor/versions.tf
Due: terraform-fmt

feat: add get transactions canary
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway_endpoint/variables.tf
  openapi.yml
  src/api/common/methods.py
  src/api/methods.py
  src/api/transactions/get_transactions.py
  src/api/transactions/get_transactions/__init__.py
  src/api/transactions/get_transactions/method.py
  src/canaries/common/canary.py
  src/canaries/routing/router.py
  src/canaries/transactions/__init__.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/__init__.py
  src/canaries/users/get_user.py
  tst/api/transactions/test_get_transactions.py
Due: black, isort, terraform-fmt, flake8

feat: add get transactions canary (#383)
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway_endpoint/variables.tf
  openapi.yml
  src/api/common/methods.py
  src/api/methods.py
  src/api/transactions/get_transactions.py
  src/api/transactions/get_transactions/__init__.py
  src/api/transactions/get_transactions/method.py
  src/canaries/common/canary.py
  src/canaries/routing/router.py
  src/canaries/transactions/__init__.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/__init__.py
  src/canaries/users/get_user.py
  tst/api/transactions/test_get_transactions.py
Due: black, isort, terraform-fmt, flake8

feat: update refresh api response
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/lambda_function_timeout_monitor/main.tf
  src/api/auth/refresh/method.py
  src/api/auth/refresh/models.py
  src/api/routing/router.py
  src/canaries/auth/refresh.py
  tst/api/auth/test_refresh.py
Due: black, isort, terraform-fmt, flake8

feat: implement configurable token expirations
  config.yml
  src/auth/authenticator.py
  src/config.py
Due: black, isort, flake8

feat: add valid http status codes to apis
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
Due: black, isort, flake8

feat: add http status codes to apis (#384)
  config.yml
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/lambda_function_timeout_monitor/main.tf
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/auth/refresh/models.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/routing/router.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  src/auth/authenticator.py
  src/canaries/auth/refresh.py
  src/config.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
Due: black, isort, terraform-fmt, flake8

feat: update get user api response
  src/api/users/get_user.py
  src/canaries/users/get_user.py
Due: black, isort, flake8

fix: fix get user canary response data bug
  src/canaries/users/get_user.py
Due: black, isort, flake8

feat: bump api and canary memory to 1024 megabytes
  infra/environments/dev/terraform.tfvars
Due: none

fix: function duration monitors greater than or equal to comparison
  infra/infrastructure/modules/lambda_function_timeout_monitor/main.tf
Due: terraform-fmt

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  terraform-fmt: any of: \.tf$
  flake8: any of: \.py$
