Repository jwallace145/walter-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, terraform-fmt, flake8

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: local
    hooks:
      - id: black # formatter
        name: black
        description: "Black: The uncompromising code formatter for Python"
        entry: pipenv run black . --diff --color
        language: python
        types: [ python ]

      - id: isort
        name: isort
        description: "isort: Ensures imports are sorted properly"
        entry: pipenv run isort --check-only --diff --profile black
        language: python
        types: [ python ]

      - id: terraform-fmt
        name: terraform-fmt
        description: "Terraform fmt: Formats terraform files"
        entry: terraform fmt -check -recursive
        language: system
        files: \.tf$
  
      - id: codespell # devs cant spell
        name: codespell
        description: "Codespell: Checks codebase for misspellings since developers cannot spell"
        entry: pipenv run codespell
        language: python
        types: [ text ]

      - id: flake8 # linter
        name: flake8
        description: "Flake8: Your tool for style guide enforcement"
        entry: pipenv run flake8 --count --max-complexity=10 --max-line-length=127 --show-source --statistics --ignore=E203,E501,W503,C901,W291
        language: python
        types: [ python ]

      - id: pytest # unit tests
        name: pytest
        description: "Pytest: Helps you write less buggy code"
        entry: pipenv run coverage run -m pytest -vv
        language: python
        types: [ python ]
        pass_filenames: false
        always_run: true

      - id: coverage # test coverage
        name: coverage
        description: "Coverage: A tool for measuring code coverage of Python programs"
        entry: pipenv run coverage report -m
        language: python
        types: [ python ]
        pass_filenames: false
        always_run: true

fix: auto approve Terraform apply
  infra/scripts/deploy.sh
Due: none

feat: add unit tests for sync user transactions workflow
  src/database/accounts/table.py
  src/workflows/sync_user_transactions.py
  tst/aws/mock.py
  tst/conftest.py
  tst/database/data/accounts.jsonl
  tst/database/mock.py
  tst/plaid/mock.py
  tst/plaid/test_transaction_converter.py
  tst/plaid/utils.py
  tst/workflows/test_sync_user_transactions.py
Due: black, isort, flake8

feat: only run deploy action on push to main
  .github/workflows/deploy.yml
Due: none

fix: only auto approve apply and destroy commands
  infra/scripts/deploy.sh
Due: none

fix: update deploy log for setting Datadog environment variables
  infra/scripts/deploy.sh
Due: none

feat: add secrets to terraform (#397)
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/infra.yml
  .github/workflows/quality.yml
  .gitignore
  Dockerfile
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/db.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/modules/secrets_manager/main.tf
  infra/infrastructure/modules/secrets_manager/outputs.tf
  infra/infrastructure/modules/secrets_manager/variables.tf
  infra/infrastructure/providers.tf
  infra/infrastructure/secrets.tf
  infra/infrastructure/variables.tf
  infra/scripts/deploy.sh
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/sync_transactions.py
  src/aws/secretsmanager/client.py
  src/database/accounts/table.py
  src/database/client.py
  src/plaid/client.py
  src/transactions/queue.py
  src/workflows/sync_user_transactions.py
  tst/aws/data/secrets.jsonl
  tst/aws/test_secrets_manager.py
  tst/conftest.py
  tst/database/data/accounts.jsonl
  tst/database/mock.py
  tst/plaid/mock.py
  tst/plaid/test_transaction_converter.py
  tst/plaid/utils.py
  tst/workflows/test_sync_user_transactions.py
  walter.py
Due: black, isort, terraform-fmt, flake8

fix: fix exchange public token api null sync transactions task queue
  src/api/methods.py
  tst/api/plaid/__init__.py
  tst/api/plaid/test_exchange_public_token.py
  tst/plaid/mock.py
Due: black, isort, flake8

fix: fix exchange public token api null sync transactions task queue (#398)
  src/api/methods.py
  tst/api/plaid/__init__.py
  tst/api/plaid/test_exchange_public_token.py
  tst/plaid/mock.py
Due: black, isort, flake8

refactor: reorganize unit tests conftest fixtures
  tst/conftest.py
Due: black, isort, flake8

feat: add sync transactions task queue unit tests
  src/aws/sqs/client.py
  tst/aws/mock.py
  tst/conftest.py
  tst/constants.py
  tst/transactions/test_sync_transactions_task_queue.py
Due: black, isort, flake8

feat: add another exchange public token api unit test
  src/api/plaid/exchange_public_token/method.py
  tst/api/plaid/test_exchange_public_token.py
Due: black, isort, flake8

feat: add unit test to ensure only one institution returned by plaid when exchanging tokens
  src/api/common/exceptions.py
  src/api/plaid/exchange_public_token/method.py
  tst/api/plaid/test_exchange_public_token.py
Due: black, isort, flake8

feat: add unit tests for sync transactions task queue and exchange public token api (#399)
  src/api/common/exceptions.py
  src/api/plaid/exchange_public_token/method.py
  src/aws/sqs/client.py
  tst/api/plaid/test_exchange_public_token.py
  tst/aws/mock.py
  tst/conftest.py
  tst/constants.py
  tst/transactions/test_sync_transactions_task_queue.py
Due: black, isort, flake8

feat: add release tag to all functions latest published version
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/outputs.tf
Due: terraform-fmt

feat: add release tag to all functions latest published version (#400)
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/outputs.tf
Due: terraform-fmt

feat: add provisioned concurrent executions variable to functions
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
Due: terraform-fmt

feat: add semantic versioning to python deploy script
  deploy.py
  infra/environments/dev/terraform.tfvars
Due: black, isort, flake8

feat: add semantic versioning to walter backend images (#401)
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
Due: black, isort, terraform-fmt, flake8

feat: add ecr repo terraform module
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/containers.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/ecr_repository/main.tf
  infra/infrastructure/modules/ecr_repository/outputs.tf
  infra/infrastructure/modules/ecr_repository/variables.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
  infra/scripts/deploy.sh
Due: black, isort, terraform-fmt, flake8

feat: change function alias name to release
  infra/infrastructure/functions.tf
Due: terraform-fmt

feat: add ecr repo terraform module (#402)
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/containers.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/ecr_repository/main.tf
  infra/infrastructure/modules/ecr_repository/outputs.tf
  infra/infrastructure/modules/ecr_repository/variables.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
  infra/scripts/deploy.sh
Due: black, isort, terraform-fmt, flake8

fix: checkout depth for deploy action git tags
  .github/workflows/deploy.yml
Due: none

fix: checkout depth for deploy action git tags (#405)
  .github/workflows/deploy.yml
Due: none

fix: deploy action git tags remote deletion
  deploy.py
Due: black, isort, flake8

fix: deploy action git tags remote deletion (#406)
  deploy.py
Due: black, isort, flake8

fix: add invoke function alias permissions to api gateway
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway/main.tf
  infra/infrastructure/modules/api_gateway/variables.tf
  infra/infrastructure/modules/lamdba_function/outputs.tf
Due: terraform-fmt

feat: add api gateway access and execution logs
  deploy.py
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway/main.tf
  infra/infrastructure/modules/api_gateway/variables.tf
Due: black, isort, terraform-fmt, flake8

fix: add api invoke permissions on function alias (#408)
  deploy.py
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway/main.tf
  infra/infrastructure/modules/api_gateway/variables.tf
  infra/infrastructure/modules/lamdba_function/outputs.tf
Due: black, isort, terraform-fmt, flake8

feat: add request id to api responses
  cli.py
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  tst/api/utils.py
Due: black, isort, flake8

feat: handle update, publish, and tag functions via cicd script and terraform
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
Due: black, isort, terraform-fmt, flake8

feat: add plaid create link token api unit test
  src/plaid/models.py
  tst/api/plaid/test_create_link_token.py
  tst/plaid/mock.py
Due: black, isort, flake8

feat: add request id to api responses (#409)
  cli.py
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/plaid/create_link_token.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  src/plaid/models.py
  tst/api/plaid/test_create_link_token.py
  tst/api/utils.py
  tst/plaid/mock.py
Due: black, isort, terraform-fmt, flake8

feat: add api custom domain name
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway_custom_domain/main.tf
  infra/infrastructure/modules/api_gateway_custom_domain/variables.tf
  infra/infrastructure/variables.tf
Due: terraform-fmt

feat: add api custom domain name (#410)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway_custom_domain/main.tf
  infra/infrastructure/modules/api_gateway_custom_domain/variables.tf
  infra/infrastructure/variables.tf
Due: terraform-fmt

docs: update open api docs
  config.yml
  deploy.py
  infra/environments/dev/terraform.tfvars
  openapi.yml
Due: black, isort, flake8

docs: update open api docs (#411)
  config.yml
  deploy.py
  infra/environments/dev/terraform.tfvars
  openapi.yml
Due: black, isort, flake8

fix: add user id to get transactions api response
  src/api/transactions/get_transactions/method.py
Due: black, isort, flake8

fix: bump function versions
  infra/environments/dev/terraform.tfvars
Due: none

feat: disable provisioned concurrency for functions
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/variables.tf
Due: terraform-fmt
