Repository jwallace145/walter-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, terraform-fmt, flake8

black:
  name: black
  description: 'Black: The uncompromising code formatter for Python'
  entry: pipenv run black . --diff --color
  language: python

isort:
  name: isort
  description: 'isort: Ensures imports are sorted properly'
  entry: pipenv run isort --check-only --diff --profile black
  language: python

terraform-fmt:
  name: terraform-fmt
  description: 'Terraform fmt: Formats terraform files'
  entry: terraform fmt -check -recursive
  language: system

flake8:
  name: flake8
  description: 'Flake8: Your tool for style guide enforcement'
  entry: pipenv run flake8 --count --max-complexity=10 --max-line-length=127 --show-source --statistics --ignore=E203,E501,W503,C901,W291
  language: python

feat: bump api and canary memory to 1024 megabytes (#386)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/modules/lambda_function_timeout_monitor/main.tf
  src/api/users/get_user.py
  src/canaries/users/get_user.py
Due: black, isort, terraform-fmt, flake8

feat: bump canary timeout to 30 seconds
  infra/environments/dev/terraform.tfvars
Due: none

feat: bump canary timeout to 30 seconds (#387)
  infra/environments/dev/terraform.tfvars
Due: none

feat: add create user canary
  src/api/users/create_user.py
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/routing/router.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/create_user.py
  src/canaries/users/get_user.py
  src/database/client.py
  tst/api/users/test_create_user.py
Due: black, isort, flake8

feat: update api to return success status for expected exceptions
  src/api/common/methods.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
Due: black, isort, flake8

feat: add create user canary (#391)
  src/api/common/methods.py
  src/api/users/create_user.py
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/routing/router.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/create_user.py
  src/canaries/users/get_user.py
  src/database/client.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
Due: black, isort, flake8

fix: 2xx http status codes emit api success metrics
  src/api/common/methods.py
  src/api/common/models.py
Due: black, isort, flake8

fix: 2xx http status codes emit api success metrics (#392)
  src/api/common/methods.py
  src/api/common/models.py
Due: black, isort, flake8

feat: add domain to api responses
  README.md
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/methods.py
  src/api/plaid/create_link_token.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/data/event.json
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
  tst/api/utils.py
Due: black, isort, flake8

feat: add domain to api responses (#393)
  README.md
  src/api/accounts/create_account.py
  src/api/accounts/delete_account.py
  src/api/accounts/get_accounts/method.py
  src/api/accounts/update_account.py
  src/api/auth/login/method.py
  src/api/auth/logout/method.py
  src/api/auth/refresh/method.py
  src/api/common/methods.py
  src/api/common/models.py
  src/api/methods.py
  src/api/plaid/create_link_token.py
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/api/users/create_user.py
  src/api/users/get_user.py
  src/api/users/update_user.py
  tst/api/accounts/test_create_account.py
  tst/api/accounts/test_delete_account.py
  tst/api/accounts/test_get_accounts.py
  tst/api/accounts/test_update_account.py
  tst/api/auth/test_login.py
  tst/api/auth/test_logout.py
  tst/api/auth/test_refresh.py
  tst/api/data/event.json
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/api/transactions/test_get_transactions.py
  tst/api/users/test_create_user.py
  tst/api/users/test_get_user.py
  tst/api/utils.py
Due: black, isort, flake8

feat: add plaid apis
  config.yml
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/variables.tf
  src/api/methods.py
  src/api/plaid/exchange_public_token.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/routing/router.py
  src/config.py
  src/plaid/client.py
Due: black, isort, terraform-fmt, flake8

feat: add sync transactions queue infra
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/locals.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/main.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/outputs.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
  infra/infrastructure/modules/lambda_function_queue/main.tf
  infra/infrastructure/modules/lambda_function_queue/outputs.tf
  infra/infrastructure/modules/lambda_function_queue/variables.tf
  infra/infrastructure/modules/sqs_queue/main.tf
  infra/infrastructure/modules/sqs_queue/outputs.tf
  infra/infrastructure/modules/sqs_queue/variables.tf
  infra/infrastructure/queues.tf
  infra/infrastructure/variables.tf
  src/api/plaid/exchange_public_token.py
  src/api/users/create_user.py
  src/canaries/users/create_user.py
  src/plaid/client.py
  src/workflows/sync_user_transactions.py
  src/workflows/workflows.py
Due: black, isort, terraform-fmt, flake8

feat: update exchange public token business logic
  infra/environments/dev/terraform.tfvars
  src/api/methods.py
  src/api/plaid/exchange_public_token/__init__.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/exchange_public_token/models.py
  src/database/accounts/models.py
  src/database/accounts/table.py
  src/database/client.py
Due: black, isort, flake8

toil: set log level to info
  infra/environments/dev/terraform.tfvars
Due: none

feat: add create link token and exchange public token plaid apis (#394)
  config.yml
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/locals.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/main.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/outputs.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
  infra/infrastructure/modules/lambda_function_queue/main.tf
  infra/infrastructure/modules/lambda_function_queue/outputs.tf
  infra/infrastructure/modules/lambda_function_queue/variables.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/modules/sqs_queue/main.tf
  infra/infrastructure/modules/sqs_queue/outputs.tf
  infra/infrastructure/modules/sqs_queue/variables.tf
  infra/infrastructure/queues.tf
  infra/infrastructure/variables.tf
  src/api/methods.py
  src/api/plaid/exchange_public_token/__init__.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/exchange_public_token/models.py
  src/api/plaid/refresh_transactions.py
  src/api/plaid/sync_transactions.py
  src/api/routing/router.py
  src/api/users/create_user.py
  src/canaries/users/create_user.py
  src/config.py
  src/database/accounts/models.py
  src/database/accounts/table.py
  src/database/client.py
  src/plaid/client.py
  src/workflows/sync_user_transactions.py
  src/workflows/workflows.py
Due: black, isort, terraform-fmt, flake8

feat: add plaid details to transactions model
  infra/infrastructure/db.tf
  src/clients.py
  src/database/accounts/table.py
  src/database/client.py
  src/database/transactions/models.py
  src/plaid/client.py
  src/plaid/models.py
  src/plaid/utils.py
  src/transactions/queue.py
Due: black, isort, terraform-fmt, flake8

feat: add plaid transaction converter
  src/clients.py
  src/database/accounts/table.py
  src/plaid/client.py
  src/plaid/transaction_converter.py
  src/plaid/utils.py
  tst/database/data/accounts.jsonl
  tst/database/mock.py
  tst/plaid/__init__.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, flake8

feat: add sync transactions task queue and workflow
  infra/infrastructure/api.tf
  src/api/common/exceptions.py
  src/api/methods.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/sync_transactions.py
  src/api/routing/router.py
  src/clients.py
  src/plaid/client.py
  src/plaid/transaction_converter.py
  src/transactions/queue.py
  src/workflows/common/router.py
  src/workflows/sync_user_transactions.py
  src/workflows/workflows.py
Due: black, isort, terraform-fmt, flake8

docs: updated api documentation
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/main.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
  infra/infrastructure/queues.tf
  infra/infrastructure/variables.tf
  openapi.yml
Due: terraform-fmt

fix: add domain to sync transactions api response
  src/api/plaid/sync_transactions.py
Due: black, isort, flake8

fix: fix workflow router get workflow name logic
  src/workflows/common/router.py
  src/workflows/sync_user_transactions.py
  tst/workflows/test_workflow_router.py
Due: black, isort, flake8

fix: add users and accounts table access to workflow role
  infra/infrastructure/iam.tf
  src/workflows/sync_user_transactions.py
Due: black, isort, terraform-fmt, flake8

fix: add get secret permissions for plaid sandbox credentials
  infra/infrastructure/iam.tf
Due: terraform-fmt

fix: add transactions table access to workflow role
  infra/infrastructure/iam.tf
Due: terraform-fmt

feat: add debug logs to plaid client
  infra/environments/dev/terraform.tfvars
  src/plaid/client.py
Due: black, isort, flake8

feat: add sync transactions task (#395)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/db.tf
  infra/infrastructure/functions.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/main.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
  infra/infrastructure/queues.tf
  infra/infrastructure/variables.tf
  openapi.yml
  src/api/common/exceptions.py
  src/api/methods.py
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/sync_transactions.py
  src/api/routing/router.py
  src/clients.py
  src/database/accounts/table.py
  src/database/client.py
  src/database/transactions/models.py
  src/plaid/client.py
  src/plaid/models.py
  src/plaid/transaction_converter.py
  src/transactions/queue.py
  src/workflows/common/router.py
  src/workflows/sync_user_transactions.py
  src/workflows/workflows.py
  tst/database/data/accounts.jsonl
  tst/database/mock.py
  tst/plaid/__init__.py
  tst/plaid/test_transaction_converter.py
  tst/workflows/test_workflow_router.py
Due: black, isort, terraform-fmt, flake8

feat: add secrets to terraform
  .gitignore
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/db.tf
  infra/infrastructure/iam.tf
  infra/infrastructure/modules/secrets_manager/main.tf
  infra/infrastructure/modules/secrets_manager/outputs.tf
  infra/infrastructure/modules/secrets_manager/variables.tf
  infra/infrastructure/secrets.tf
  infra/infrastructure/variables.tf
  infra/scripts/deploy.sh
  src/api/plaid/exchange_public_token/method.py
  src/api/plaid/sync_transactions.py
  src/aws/secretsmanager/client.py
  src/database/accounts/table.py
  src/database/client.py
  src/plaid/client.py
  src/transactions/queue.py
  src/workflows/sync_user_transactions.py
  tst/aws/data/secrets.jsonl
  tst/aws/mock.py
  tst/aws/test_secrets_manager.py
Due: black, isort, terraform-fmt, flake8

feat: update deploy action
  .github/workflows/deploy.yml
  Dockerfile
  deploy.py
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  infra/infrastructure/providers.tf
  infra/infrastructure/secrets.tf
  infra/infrastructure/variables.tf
  infra/scripts/deploy.sh
  walter.py
Due: black, isort, terraform-fmt, flake8

test: test deploy action
  infra/environments/dev/terraform.tfvars
Due: none

test: test deploy action 1
  infra/scripts/deploy.sh
Due: none

test: test deploy action 2
  infra/scripts/deploy.sh
Due: none

test: test deploy action 3
  .github/workflows/deploy.yml
Due: none

fix: add environment secrets to terraform plan action
  .github/workflows/infra.yml
Due: none

fix: fix terraform variable validation error messages
  infra/infrastructure/variables.tf
Due: terraform-fmt

fix: fix terraform variable validation error messages 1
  infra/infrastructure/modules/dynamodb_table/variables.tf
  infra/infrastructure/modules/iam_sqs_queue_access_policy/variables.tf
Due: terraform-fmt

fix: fix optional terraform variable for gsi projection type
  infra/infrastructure/db.tf
Due: terraform-fmt

fix: use Terraform v1.1.13 in deploy action
  .github/workflows/deploy.yml
Due: none

Revert "fix: fix optional terraform variable for gsi projection type"
  infra/infrastructure/db.tf
Due: terraform-fmt

feat: use optional gsi projection type with all default
  infra/infrastructure/modules/dynamodb_table/variables.tf
Due: terraform-fmt

feat: update action step names
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/infra.yml
  .github/workflows/quality.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  terraform-fmt: any of: \.tf$
  flake8: any of: \.py$
