Repository jwallace145/walter-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, terraform-fmt, flake8

black:
  name: black
  description: 'Black: The uncompromising code formatter for Python'
  entry: pipenv run black . --diff --color
  language: python

isort:
  name: isort
  description: 'isort: Ensures imports are sorted properly'
  entry: pipenv run isort --check-only --diff --profile black
  language: python

terraform-fmt:
  name: terraform-fmt
  description: 'Terraform fmt: Formats terraform files'
  entry: terraform fmt -check -recursive
  language: system

flake8:
  name: flake8
  description: 'Flake8: Your tool for style guide enforcement'
  entry: pipenv run flake8 --count --max-complexity=10 --max-line-length=127 --show-source --statistics --ignore=E203,E501,W503,C901,W291
  language: python

fix: handle date parsing when converting updated plaid transactions
  deploy.py
  src/database/transactions/models.py
  src/plaid/transaction_converter.py
Due: black, isort, flake8

feat: add plaid transaction converter unit tests
  tst/database/data/transactions.jsonl
  tst/database/mock.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, flake8

feat: handle syncing updated and deleted transactions from plaid (#435)
  deploy.py
  infra/infrastructure/db.tf
  src/api/accounts/get_accounts/models.py
  src/api/transactions/get_transactions/method.py
  src/database/accounts/models.py
  src/database/transactions/models.py
  src/plaid/client.py
  src/plaid/transaction_converter.py
  src/workflows/sync_user_transactions.py
  tst/database/data/transactions.jsonl
  tst/database/mock.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, terraform-fmt, flake8

docs: update arch diagram
  README.md
Due: none

docs: update arch diagram (#436)
  README.md
Due: none

feat: add cloudfront cdn to serve media
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/cdn.tf
  infra/infrastructure/modules/cloudfront_cdn/main.tf
  infra/infrastructure/modules/cloudfront_cdn/outputs.tf
  infra/infrastructure/modules/cloudfront_cdn/variables.tf
  infra/infrastructure/modules/s3_bucket/main.tf
  infra/infrastructure/modules/s3_bucket/outputs.tf
  infra/infrastructure/modules/s3_bucket/variables.tf
  infra/infrastructure/variables.tf
  src/database/transactions/models.py
Due: black, isort, terraform-fmt, flake8

feat: upload new plaid merchant logos to media bucket
  infra/environments/dev/terraform.tfvars
  src/aws/s3/client.py
  src/factory.py
  src/media/bucket.py
  src/plaid/transaction_converter.py
  tst/aws/mock.py
  tst/conftest.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, flake8

fix: use correct default merchant logo s3 uri
  src/database/transactions/models.py
Due: black, isort, flake8

feat: return merchant logo url in get transactions api response
  src/api/transactions/get_transactions/method.py
Due: black, isort, flake8

feat: set default merchant logo for transactions based on account type
  src/api/transactions/get_transactions/method.py
  src/plaid/transaction_converter.py
Due: black, isort, flake8

feat: write default account logos to db on account creation
  src/api/accounts/update_account.py
  src/database/accounts/models.py
  src/media/bucket.py
  src/plaid/transaction_converter.py
  tst/api/accounts/test_update_account.py
  tst/database/mock.py
Due: black, isort, flake8

feat: update default account logos
  src/database/accounts/models.py
Due: black, isort, flake8

feat: add cloudfront cdn with s3 (#437)
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/cdn.tf
  infra/infrastructure/modules/cloudfront_cdn/main.tf
  infra/infrastructure/modules/cloudfront_cdn/outputs.tf
  infra/infrastructure/modules/cloudfront_cdn/variables.tf
  infra/infrastructure/modules/s3_bucket/main.tf
  infra/infrastructure/modules/s3_bucket/outputs.tf
  infra/infrastructure/modules/s3_bucket/variables.tf
  infra/infrastructure/variables.tf
  src/api/accounts/update_account.py
  src/api/transactions/get_transactions/method.py
  src/aws/s3/client.py
  src/database/accounts/models.py
  src/database/transactions/models.py
  src/factory.py
  src/media/bucket.py
  src/plaid/transaction_converter.py
  tst/api/accounts/test_update_account.py
  tst/aws/mock.py
  tst/conftest.py
  tst/database/mock.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, terraform-fmt, flake8

feat: add cdn bucket write permissions to sync transactions workflow
  infra/infrastructure/cdn.tf
  infra/infrastructure/modules/iam_s3_access_policy/main.tf
  infra/infrastructure/modules/iam_s3_access_policy/outputs.tf
  infra/infrastructure/modules/iam_s3_access_policy/variables.tf
  infra/infrastructure/modules/s3_bucket/outputs.tf
  infra/infrastructure/modules/workflow_iam_role/main.tf
  infra/infrastructure/modules/workflow_iam_role/variables.tf
  infra/infrastructure/workflows.tf
  src/plaid/transaction_converter.py
Due: black, isort, terraform-fmt, flake8

feat: add cdn bucket write permissions to sync transactions workflow (#438)
  infra/infrastructure/cdn.tf
  infra/infrastructure/modules/iam_s3_access_policy/main.tf
  infra/infrastructure/modules/iam_s3_access_policy/outputs.tf
  infra/infrastructure/modules/iam_s3_access_policy/variables.tf
  infra/infrastructure/modules/s3_bucket/outputs.tf
  infra/infrastructure/modules/workflow_iam_role/main.tf
  infra/infrastructure/modules/workflow_iam_role/variables.tf
  infra/infrastructure/workflows.tf
  src/plaid/transaction_converter.py
Due: black, isort, terraform-fmt, flake8

fix: fix get accounts canary
  src/canaries/accounts/get_accounts.py
Due: black, isort, flake8

fix: fix get transactions canary
  src/canaries/transactions/get_transactions.py
Due: black, isort, flake8

fix: fix failing canaries (#439)
  src/canaries/accounts/get_accounts.py
  src/canaries/transactions/get_transactions.py
Due: black, isort, flake8

feat: require api key for all endpoints
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway/main.tf
  infra/infrastructure/modules/api_gateway/variables.tf
  infra/infrastructure/modules/api_gateway_endpoint/main.tf
  infra/infrastructure/modules/api_gateway_endpoint/variables.tf
  infra/infrastructure/secrets.tf
  infra/infrastructure/variables.tf
  infra/scripts/deploy.sh
Due: terraform-fmt

fix: fix api gateway key
  infra/infrastructure/modules/api_gateway/main.tf
Due: terraform-fmt

fix: fix failing infra ci action
  .github/workflows/infra.yml
Due: none

feat: require api key for all endpoints (#440)
  .github/workflows/infra.yml
  infra/environments/dev/terraform.tfvars
  infra/infrastructure/api.tf
  infra/infrastructure/modules/api_gateway/main.tf
  infra/infrastructure/modules/api_gateway/variables.tf
  infra/infrastructure/modules/api_gateway_endpoint/main.tf
  infra/infrastructure/modules/api_gateway_endpoint/variables.tf
  infra/infrastructure/secrets.tf
  infra/infrastructure/variables.tf
  infra/scripts/deploy.sh
Due: terraform-fmt

feat: disable datadog logs
  infra/infrastructure/modules/api_gateway/main.tf
  infra/infrastructure/modules/lamdba_function/main.tf
Due: terraform-fmt

feat: disable datadog logs (#441)
  infra/infrastructure/modules/api_gateway/main.tf
  infra/infrastructure/modules/lamdba_function/main.tf
Due: terraform-fmt

fix: add api key to canaries
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/factory.py
  src/canaries/routing/router.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/create_user.py
  src/canaries/users/get_user.py
  tst/canary/test_login_canary.py
Due: black, isort, terraform-fmt, flake8

fix: add api key to canaries (#442)
  infra/infrastructure/functions.tf
  infra/infrastructure/modules/lamdba_function/main.tf
  infra/infrastructure/modules/lamdba_function/variables.tf
  src/canaries/accounts/get_accounts.py
  src/canaries/auth/login.py
  src/canaries/auth/logout.py
  src/canaries/auth/refresh.py
  src/canaries/common/canary.py
  src/canaries/factory.py
  src/canaries/routing/router.py
  src/canaries/transactions/get_transactions.py
  src/canaries/users/create_user.py
  src/canaries/users/get_user.py
  tst/canary/test_login_canary.py
Due: black, isort, terraform-fmt, flake8

feat: enable transaction category and vendor updates with update transaction api
  cli.py
  src/api/transactions/edit_transaction.py
  src/factory.py
  src/investments/securities/updater.py
  tst/conftest.py
Due: black, isort, flake8

fix: fix formatting issues with conftest.py
  tst/conftest.py
Due: black, isort, flake8

feat: add update transaction api unit tests
  src/api/transactions/edit_transaction.py
  tst/api/transactions/test_update_transaction.py
  tst/database/data/transactions.jsonl
Due: black, isort, flake8

feat: enable category and vendor updates with update transaction api (#443)
  cli.py
  src/api/transactions/edit_transaction.py
  src/factory.py
  src/investments/securities/updater.py
  tst/api/transactions/test_update_transaction.py
  tst/conftest.py
  tst/database/data/transactions.jsonl
Due: black, isort, flake8

feat: add update transaction canary
  infra/infrastructure/canaries.tf
  src/canaries/factory.py
  src/canaries/transactions/update_transaction.py
Due: black, isort, terraform-fmt, flake8

feat: add update transaction canary (#444)
  infra/infrastructure/canaries.tf
  src/canaries/factory.py
  src/canaries/transactions/update_transaction.py
Due: black, isort, terraform-fmt, flake8

feat: transactions table user_id and transaction_id composite key
  config.yml
  infra/infrastructure/db.tf
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/canaries/common/canary.py
  src/canaries/transactions/update_transaction.py
  src/config.py
  src/database/client.py
  src/database/transactions/models.py
  src/database/transactions/table.py
  src/investments/holdings/updater.py
  src/plaid/transaction_converter.py
  src/workflows/sync_user_transactions.py
  tst/api/accounts/test_delete_account.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/database/mock.py
  tst/database/transactions/test_transactions_table.py
  tst/investments/holdings/test_holding_updater.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, terraform-fmt, flake8

feat: transactions table user_id and transaction_id composite key (#445)
  config.yml
  infra/infrastructure/db.tf
  src/api/transactions/add_transaction.py
  src/api/transactions/delete_transaction.py
  src/api/transactions/edit_transaction.py
  src/api/transactions/get_transactions/method.py
  src/canaries/common/canary.py
  src/canaries/transactions/update_transaction.py
  src/config.py
  src/database/client.py
  src/database/transactions/models.py
  src/database/transactions/table.py
  src/investments/holdings/updater.py
  src/plaid/transaction_converter.py
  src/workflows/sync_user_transactions.py
  tst/api/accounts/test_delete_account.py
  tst/api/transactions/test_add_transaction.py
  tst/api/transactions/test_delete_transaction.py
  tst/database/mock.py
  tst/database/transactions/test_transactions_table.py
  tst/investments/holdings/test_holding_updater.py
  tst/plaid/test_transaction_converter.py
Due: black, isort, terraform-fmt, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  terraform-fmt: any of: \.tf$
  flake8: any of: \.py$
